.w-50{
    width: 47% !important;
    margin-right: 10px;
}
.tree{
    background: #80808021;
    padding: 10px;
}
.w-30{
    width: 25%;
    margin-right: 10px;
}
.product{
    margin-top: 27px;
    margin-bottom: 21px;
}
.inputproduct{
    height: 30px;
    border: 2px solid gray;
    padding: 4px;
    margin-top: 2px;
    width: 80%;
    border-radius: 4px;
    margin-top: 7px;
}
mat-grid-tile {
    border: 1px solid;
  }
  .row {

    margin-right:0px !important;
    margin-left: 0px !important;
}