.w-50{
    width: 47%;
    margin-right: 10px;
}
.tree{
    background: #80808021;
    padding: 10px;
}
.w-30{
    width: 25%;
    margin-right: 10px;
}
.product{
    background: #f1f1f1;
    width: 98%;
    height: 76px;
    padding: 5px;
    margin-top: 9px;
    margin-bottom: 10px;
}
.inputproduct{
    height: 30px;
    border: 1px solid;
    padding: 4px;
    margin-top:2px
}
mat-grid-tile {
    border: 1px solid;
  }