<div class="model_delete">
    <div class="Modal_header">
     1 Delete Product
  </div>
  <div class="Modal_content">
    <div class="Modal_explanation">
      Are you sure you want to delete This Product?
    </div>
  </div>
  <div class="Modal_delete_footer">
      <button mat-stroked-button color="primary" (click)="close()" class="cancle_deelete_button">Cancel</button>
      <button  mat-stroked-button color="warn"(click)="deleteContactType()" class="uppercase_button">delete</button>
  </div>
  </div>