
<div style="    margin-top: 15px; padding:10px" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
      <app-stat [bgClass]="'danger'" [icon]="'bookmarks'" [link]="'/product'" [count]="13" [label]="'Product'"></app-stat>
    </div>
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
      <app-stat [bgClass]="'warn'" [icon]="'view_list'"  [link]="'/product'"   [count]="12" [label]="'New Task!'"></app-stat>
    </div>
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
      <app-stat [bgClass]="'success'" [icon]="'shopping_cart'"  [link]="'/product'"  [count]="124" [label]="'New Orders!'"></app-stat>
    </div>
    <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
      <app-stat [bgClass]="'info'" [icon]="'contact_support'"  [link]="'/product'"  [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
  </div>
  
