
 <div *ngIf="showHead" class="layout-container">
    <app-header  (sideNavToggled)="snav.toggle()"></app-header>
  
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="toolBarHeight">
      <mat-sidenav #snav class="sidenav mat-elevation-z10" [(mode)]="sideNavMode" [(opened)]="sideNavOpened">
        <mat-nav-list>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/home']">
                <mat-icon class="sidenav-icon">insert_drive_file</mat-icon>Dashborad
              </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/product']">
              <mat-icon class="sidenav-icon">insert_drive_file</mat-icon>Product
            </a>
      
          </mat-nav-list>
          
      </mat-sidenav>
      <mat-sidenav-content >
        <main class="main-container">
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  <!-- <div  *ngIf="showHead ">
    <router-outlet></router-outlet>

  </div> -->
  <!-- <router-outlet></router-outlet> -->
